@font-face {
	font-family: DrukText;
	src: url(../fonts/DrukTextWideCyrSuper.otf);
}
@font-face {
	font-family: FranckerCYRReg;
	src: url(../fonts/FranckerCYR-CondensedReg.otf);
}
@font-face {
	font-family: FranckerCYRLight;
	src: url(../fonts/FranckerCYR-CondensedXLight.otf);
}
@font-face {
	font-family: FranckerCYRBold;
	src: url(../fonts/FranckerCYR-CondensedBold.otf);
}